body {
  /* background: black; */
  color: white;
  /* background-color: #000000; */

  background: rgb(121, 99, 9);
  background: radial-gradient(
    circle,
    rgba(121, 99, 9, 1) 0%,
    rgba(0, 19, 36, 1) 38%
  );
  body {
    font-family: 'Dosis Variable', sans-serif !important;
  }
}
